*{
    background: #f5f5f7;
    color: #000;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}


.card {
    margin-top: 20px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
}